{% extends "base.html" %}
{% block content %}
<div class="container my-5">
<div class="row">
<div class="col-12">
  <div class="card">
    <div class="row">
      <div class="col-md-4">
        <img src="/assets/home_img.jpg" alt="electric guitar" width="350px">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="text-center">
            <small class="text-muted">Welcome to</small>
            <h4 class="card-title"><img src="/assets/favicon.ico" width="25px"> DoGev Electric Guitars</h4>
            <hr>
          </div>
          <p class="card-text text-muted mb-5">The electric guitar is a modern classic and the perfect instrument for anyone wanting to learn how to play. With it's bright tones and dynamic range, electric guitars are the perfect choice for rock, blues, and jazz musicians. Our selection of electric guitars includes top brands like Fender, Gibson, and PRS, as well as new and vintage models. Whether you're a beginner or a seasoned pro, you'll find the perfect electric guitar to suit your style and budget. Shop now and start shredding!</p>
          <div class="text-center">
            <a href="/store" class="btn btn-outline-info">Shop Now <i class="fas fa-cart-arrow-down"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock content %}